@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    background: white;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: stretch; /* Asegura que los elementos hijos se estiren para igualar la altura del elemento más alto */
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

.search-button {
    width: 30%;
}

.search-bar #select, .search-bar input[type="text"], .search-bar .search-button {
    margin-right: 10px; /* Añade un margen a la derecha de cada elemento excepto el último */
    height: auto; /* Permite que la altura se ajuste según el contenido */
}

#select, .search-bar input[type="text"], .search-bar .search-button {
    /* Asegura que no haya una altura fija para permitir el ajuste automático */
    padding: 10px 20px; /* Ajusta el padding según sea necesario para mantener la consistencia visual */
}
.search-bar #select, .search-bar .search-button {
    background-color: #007BFF; /* Color de fondo unificado para el selector y el botón */
    color: white; /* Asegura que el texto sea visible */
}

.search-bar input[type="text"] {
    background-color: #FFFFFF; /* Color de fondo blanco para el campo de búsqueda */
    color: black; /* Texto en negro para contraste */
    flex-grow: 2; /* Permite que el input crezca el doble que el selector */
    border: 1px solid #ccc; /* Borde ligero para definir los límites del input */
}

.search-bar .search-button {
    flex-grow: 0; /* Evita que el botón crezca, manteniendo su tamaño basado en el contenido */
    border: none;
}

#select {
    background: #007BFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 600px;
    padding: 25px 20px;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    border: none;
}

#select img {
    width: 15px;
}

#select ul {
    position: absolute;
    top: 120%;
    left: 0;
    list-style: none;
    width: 100%;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#select ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.search-bar input {
    padding: 10px 25px;
    width: 100%;
    font-size: 18px;
    outline: none;
    border: none;
}

#select ul.open {
    max-height: 300px;
}