body {
    margin: 0;  /* Elimina cualquier margen por defecto del body */
    padding: 0;  /* Elimina cualquier padding por defecto del body */
}

.custom.container {
    margin: 0 auto;  /* Centra el contenedor */
    max-width: 1500px;  /* Ajusta este valor según tus necesidades */
    padding-left: 10px;  /* Ajusta este valor según tus necesidades */
    padding-right: 10px;  /* Ajusta este valor según tus necesidades */
}
